{% extends 'includes/master.html' %}
{% load static %}
{% block body %}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title"><i class="fas fa-plus-circle"></i> Add Product</h4>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">AutoExpert</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                <li class="breadcrumb-item active">Add Product</li>
            </ol>
        </div>
    </div> <!-- end row -->
</div>
<!-- end page-title -->

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card m-b-30">
            <div class="card-body">
                <form class="form-horizontal" action="{% url 'add_product' %}" onsubmit="return validate()" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                        <div id="alertDiv" class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"role="alert">{{ message }}</div>                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" required placeholder="Enter Name" />
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <input type="text" class="form-control" name="brand" required placeholder="Enter Brand" />
                    </div>
                    <div class="form-group">
                        <label>Sale Rate</label>
                        <input type="number" placeholder="0.00" min="0" class="form-control" name="sale_rate" required placeholder="Enter Sale Rate" />
                    </div>
                    <div class="form-group">
                        <label>Purchase Rate</label>
                        <input type="number" placeholder="0.00" min="0" class="form-control" name="purchase_rate" required placeholder="Enter Purchase Rate" />
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-lg-2"></div>

    {% endblock %}


    {% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#alertDiv').delay(3000).slideUp(1200);
        });
    </script>
    {% endblock %}